:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px;
}

.button{
    --font-size: 1.4em;
    background-color: rgb(235, 235, 235);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color: #cccc;
}

.button.double{
    grid-column: span 2
}

.button.triple{
    grid-column: span 3
}

.button.operation{
    background-color: rgb(247, 136, 31);
    color: #fff;
}

.button.operation:active{
    background-color: rgb(187, 51, 10);
}